VITE_BACKEND_URL=http://localhost:5000
VITE_PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiIxYjg5ZWM5YS1kMTRhLTRjNWItOWEzYi0xM2ZlNjM5MmY3M2IiLCJlbWFpbCI6ImxvdWlnaWVjYWRzMTQzQGdtYWlsLmNvbSIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlLCJwaW5fcG9saWN5Ijp7InJlZ2lvbnMiOlt7ImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxLCJpZCI6IkZSQTEifSx7ImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxLCJpZCI6Ik5ZQzEifV0sInZlcnNpb24iOjF9LCJtZmFfZW5hYmxlZCI6ZmFsc2UsInN0YXR1cyI6IkFDVElWRSJ9LCJhdXRoZW50aWNhdGlvblR5cGUiOiJzY29wZWRLZXkiLCJzY29wZWRLZXlLZXkiOiJmZDRkZGYwNTVhODU0ZWI4ZjY0ZSIsInNjb3BlZEtleVNlY3JldCI6IjRhN2JmMGUzMmNkMGE1YWYxZWE3OGNjODNjZmYwNWU2YTdkNDE5ZjlkZWYwZjQyZjY1MWQ3YmI0M2UzNDc5YzciLCJleHAiOjE3ODAxMDUzNDJ9.BWcTtHrefbKsJ0EFLlVOx9Zbkz5ayZV8Y6vT9l47ROg
VITE_GATEWAY_URL=https://green-wrong-mollusk-488.mypinata.cloud/ipfs
VITE_TEST_LUMEN_API_KEY=712d154c-2281-4e16-9c02-6e1fbd733bfb
VITE_TEST_LUMEN_API_SECRET=Z6B7MX8Ep9hNGUA5iVzPJknMd1dPqpRG
VITE_BASE_URL=http://localhost:5000
VITE_SHOW_BETA_NOTICE=true
VITE_ENABLE_LUMEN_CREDENTIALS=true